.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand a:hover {
  text-decoration: underline;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff4500; /* Change color on hover */
}
